<!DOCTYPE html>
<html>
<head>
	<title>MyCityDoctors </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="/Home.css">
  <script defer src="https://www.gstatic.com/firebasejs/7.8.0/firebase-app.js"></script>
</head>
<body>
	<div class="container">
  		<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="font-size: 130%; background-color:rgb(160, 195, 219);">
  			<a class="navbar-brand MyCityDoctors" href="/" style="font-size: 35px;"><img src="https://firebasestorage.googleapis.com/v0/b/my-city-doctor.appspot.com/o/logo.jpeg?alt=media&token=ae67572b-036a-48b1-bcd5-18ba4dfec98e" style="height:50px;margin-right:20px;">MyCityDoctors</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded			="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active">
        				<a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/AboutUs">About Us</a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="/ContactUs">Contact Us</a>
      				</li>
    			</ul>
  			</div>
		</nav>
  </div>