<%- include('partials/Header') ; -%>
<div class="aboutPage">
  <h1 style="margin-bottom:20px; text-align:center; color:red;">About MyCityDoctor</h1>
	 <p>MyCityDoctor(MCD) is a young online medical services provider. Started with a team of young, experienced and vibrant professionals, the company has a humanitarian approach towards providing easy access to health care services.</p>

	<div class="row" style="font-size:17px;margin:5px 0 20px 0px;">
		<div class="col-4">
			We offer our multiple services at an affordable price. We aim at making health care services easily accessible and affordable to ensure that patients do not hesitate while consulting doctors online.
		</div>
		<div class="col-4">
			We work round the clock to ensure highest levels of data security. With our platform, the records of both, the patients and the doctors are safe. Our separate infrastructure ensures that the provider’s data and the consumer’s data are isolated from each other.
		</div>
		<div class="col-4">
			The MCD platform is easy to navigate and has a straightforward approach. The minimalist design of the website ensures that the consumers can find the information for their reference swiftly and effortlessly
		</div>
	
	</div>
	<p>MCD is dedicated towards the welfare of the people and to make a closely knit community of doctors and patients.
	</p>
	<p>Today, the average lifestyle of a human being is fast-paced. In this fast-paced lifestyle, people ignore their health that leads to several health complications. At MCD, we aim to be the guide and the helping hand to ensure better health for everyone and help them at each step towards health improvement.</p>
	<p>MCD aims at connecting people by providing them with every piece of information they need to secure themselves and their family’s well-being. Assessing health issues, consulting experienced medical practitioners and storing health records are few services offered by the company.</p>
	<p>Not only are we dedicated to providing a better health to people, we also ensure that they get easy access to country’s best doctors in the most convenient and affordable ways. On our way to creating an experience truly prime for users and healthcare experts, we overcome multitudinous challenges almost every day.</p>
	<p>MCD ensures that you get the right solution and treatment, and that is why we have hired country’s best and most experienced doctors who are knowledgeable, skilled and the best in their areas of expertise. They are available to solve your health related queries and provide ondemand healthcare solutions, 24×7×365.</p>
	<p>We aim to tap the latest technology to find solutions to various issues in order to disrupt the global healthcare delivery system. Our innovative healthcare solutions are a step towards bridging the gap between healthcare experts and the patients.</p>
</div>
<%- include('partials/Footer') ; -%>