<%- include('partials/Header') ; -%>
  <div class="containers">
        <h3 class="firstHeader">See Doctors Catergory wise:</h3>
      <div class="row">
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Ambulance">
              <img src="ambulance.jpeg">
              <div class="adiv">Ambulance</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/ANESTHESIOLOGIST">
              <img src="ANESTHETIC.jpg">
              <div class="adiv">ANESTHESIOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Blood bank">
              <img src="blood bank.jpeg">
              <div class="adiv">Blood bank</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/CARDIOLOGIST">
              <img src="CARDIOLOGIST.jpg">
              <div class="adiv">CARDIOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Dentist">
              <img src="Dentist.jpg">
              <div class="adiv">Dentist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Dermatologist">
              <img src="Dermatologist.jpg">
              <div class="adiv">Dermatologist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/E.N.T">
              <img src="ENT.jpg">
              <div class="adiv">E.N.T</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Gastroenterologist">
              <img src="Gastroenterologist.png">
              <div class="adiv">Gastroenterologist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/General physician">
              <img src="General physician.jpg">
              <div class="adiv">General physician</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/General surgeon">
              <img src="General surgeon.png">
              <div class="adiv">General surgeon</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Gynecologist">
              <img src="Gynecologist.png">
              <div class="adiv">Gynecologist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/NEPHROLOGIST">
              <img src="NEPHROLOGIST.jpg">
              <div class="adiv">NEPHROLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Neurologist">
              <img src="Neurologist.jpg">
              <div class="adiv">Neurologist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/ONCOLOGIST">
              <img src="ONCOLOGIST.jpg">
              <div class="adiv">ONCOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Ophthalmologist">
              <img src="Opthalmologist.jpg">
              <div class="adiv">Ophthalmologist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Orthopedic">
              <img src="Orthopedic.jpeg">
              <div class="adiv">Orthopedic</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/PATHOLOGIST">
              <img src="PATHOLOGIST.jpg">
              <div class="adiv">PATHOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Pediatrician">
              <img src="Pediatrician.jpg">
              <div class="adiv">Pediatrician</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Pharmacist">
              <img src="Pharmacy.jpg">
              <div class="adiv">Pharmacist</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/PHYSIOTHERAPIST">
              <img src="PHYSIOTHERAPIST.jpg">
              <div class="adiv">PHYSIOTHERAPIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/Plastic surgeon">
              <img src="Plastic surgeon.jpg">
              <div class="adiv">Plastic surgeon</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/PSYCHIATRIST">
              <img src="PSYCHIATRIST.jpg">
              <div class="adiv">PSYCHIATRIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/RADIOLOGIST">
              <img src="RADIOLOGIST.jpg">
              <div class="adiv">RADIOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/SEXOLOGIST">
              <img src="SEXOLOGIST.jpg">
              <div class="adiv">SEXOLOGIST</div>
              </a>
            </div>
          </div>
          <div class="col-lg-3 col-4">
          </div>
          <div class="col-lg-3 col-4">
            <div class="img-thumbnail">
              <a href="Categories/UROLOGIST">
              <img src="UROLOGIST.jpg">
              <div class="adiv">UROLOGIST</div>
              </a>
            </div>
          </div>
      </div>
  </div>
<%- include('partials/Footer') ; -%>