<%- include('partials/Header') ; -%>
  <div class="container">
    <div class="form" style="margin:100px 0;">
      <form method="" action="/">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Enter Name" required style="margin-top: 15px;">
          </div>
          <div class="col-lg-6 col-sm-12">
            <input type="text" class="form-control" placeholder="Enter email" required style="margin-top: 15px;">
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Subject" required style="margin-top: 15px; margin-bottom: 10px;">
        <h3>comment</h3>
        <textarea rows="10" cols="75" style="border-radius:7px"></textarea><br>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
<%- include('partials/Footer') ; -%>