<%- include('partials/Header') ; -%>
  <div class="containers">
    <div class="form" style="margin-top:100px;">
      <form action="/setCity">
        <input type="text" class="form-control" name="city" placeholder="location" required style="margin-top: 15px; margin-bottom: 10px;">
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
<%- include('partials/Footer') ; -%>